body {
    font-family: 'Italianno';
}
.upload-tile {
    width: 200px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
}

.upload-tile:hover {
    background-color: #45a049;
}

.container {
    text-align: center;
}

.clicker {
    text-align: center;
    cursor: pointer;
}

.clicker:hover {
    background-color: #fafafa;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}


ol.horizontal{
    justify-content: center;
    align-items: center;
}

ol.horizontal li{
    justify-content: center;
    align-items: center;
}

img.img-preview {
    max-width: 50px;
    max-height: 50px;
}


